
.h100{
    height: 100%;
}

.w100{
    width: 100%;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.j-start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}


//padding

.p-big{
    padding: 8rem;
}

.p-med{
    padding: 5rem;
}

.p-small{
    padding: 3rem;
}

.t-pad-small{
    padding: 1rem 1.5rem;
}

.t-pad-mini{
    padding: 0.8rem 1.2rem;
}


//margin
.m-big{
    margin: 8rem;
}

.m-med{
    margin: 5rem;
}

.m-small{
    margin: 3rem;
}

.mt-big{
    margin-top: 8rem;
}

.mt-med{
    margin-top: 5rem;
}

.mt-small{
    margin-top: 3rem;
}

.mr-big{
    margin-right: 8rem;
}

.mr-med{
    margin-right: 5rem;
}

.mr-small{
    margin-right: 3rem;
}

.mr-mini{
    margin-right: 1rem;
}